@()
@main("BewertungAbgeben"){
			<div id="content">
				<div id="bewertung">
					<h1>Rezepte bewerten</h1>
						<div class="aendern">
							<form action="bewerten" method="Get">
                              <p>
                                <select name="top5" size="3">
                                  <option>Note 1</option>
                                  <option>Note 2</option>
                                  <option>Note 3</option>
                                  <option>Note 4</option>
                                  <option>Note 5</option>
                                  <option>Note 6</option>
                                </select>
                              </p>
                            </form>
						</div>
				</div>
			</div>

}