@()
@main("Hochladen"){
			<div id="content">
				<div id="Upload">
					<h1>Rezepte anzeigen</h1>
						<div class="upl">
    						<form action="uploadData" method="post" enctype="multipart/form-data">  <!-- HIER NOCH ANPASSEN!!!!-->
                              <p>Wählen Sie eine Datei (txt, html usw.) von Ihrem Rechner aus:<br>
                                <input name="Datei" type="file" size="50" maxlength="100000" accept="text/*">
                              </p>
                            </form>
						</div>
				</div>
			</div>

}


