body{
    width: 100%; 
    max-width: 1500px;
}

h1{
    font-size: 25px;
    text-align: center;
}

h2{
    font-size: 22px;
    text-align: center;
}

.wrapper-1, .wrapper-2, .wrapper-2, .wrapper-4{
    margin-bottom: 35px !important;
}

/*WRAPPER 1-----------------------------*/
.wrapper-1{
    margin-left: 10%;
    margin-right: 10%;
}

.col-1{
    width: 100%;
    height: 100px;
}

.col-1-1{
    width: 49%;
    float: left;
}

.logo{
    width: 300px;
    height:auto;
    padding-top: 15px;
}



.col-1-2 a{
    line-height: 40px;
    min-width: 60px;
}



.wrapper-1 li{
    margin-right: 20px;
}

.wrapper-1 a{
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: black;
}

@media only screen and ( min-width: 769px ) {
    .col-1-2{
        width: 49%;
        float: right;
        text-align: right;
        padding-right: 15px;    
    }
    .wrapper-1 ul{
    list-style-type: none;
    background-color: black;
    width: 120px;
    text-align: center;
    float: right;
    padding-right: 20px;
}
}

 
@media only screen and ( max-width: 768px ) {
    .col-1-2{
        width: 100%;
        float: left;
        text-align: right;
        padding-right: 15px;    
    }
    .wrapper-1 ul{
        list-style-type: none;
        background-color: black;
        width: 90%;
        text-align: center;
        float: right;
        padding-right: 20px;
    }
}

/*WRAPPER 2-----------------------------*/
.wrapper-2{
    margin-left: 10%;
    margin-right: 10%;
    min-height: 250px;
}

.slider{
    width: 98.5%;
    margin-top: -16px;
    height: auto;
}

.col-2-1{
    height: auto;
}


.col-2{
    width: 100%;
    float: left;
    height: auto;
}


/*WRAPPER 3-----------------------------*/
.wrapper-3{
    margin-left: 10%;
    margin-right: 10%;
}

.col-3{
    width: 100%;
    float: left;
    height: 100px;
    margin-top: -118px;
 
}

.col-3-1{
    width: 40%;
    float: left;
}

.col-3-2{
    width: 40%;
    float: right;
    text-align: right;
    padding-right: 15px;    
}

#button1, #button2{
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;   
}
 
/*WRAPPER 4-----------------------------*/
.wrapper-4{
    margin-left: 10%;
    margin-right: 10%;
    
}

.wrapper-4 p{
    text-align: justify;
}

.col-4{
    width: 100%;
    float: left;
    height: auto;  
    padding-top: 100px;
    padding-bottom: 100px;
}

.col-4-1{
    width: 100%;
    float: left;
    height: auto;
}


/*WRAPPER 5-----------------------------*/


@media only screen and ( min-width: 769px ) {
    .wrapper-5{
        margin-left: 10%;
        margin-right: 10%;
    }

    .wrapper-5 p {
        text-align: justify;
    }

    .col-5{
        width: 100%;
        float: left;
        height: auto;
    }

    .col-5-1{
        width: 40%;
        float: left;
        height: auto;
    }

    .col-5-2{
        width: 40%;
        float: right;
        height: auto;
        text-align: right;
        padding-right: 15px;    
    }
 
}
 
@media only screen and ( max-width: 768px ) {
    .wrapper-5{
        margin-left: 10%;
        margin-right: 10%;
    }

    .wrapper-5 p {
        text-align: justify;
    }

    .col-5{
        width: 100%;
        float: left;
        height: auto;
    }

    .col-5-1{
        width: 100%;
        float: auto;
        height: auto;
    }

    .col-5-2{
        margin-top: 50px;
        width: 100%;
        float: auto;
        height: auto;
           
    }
}

/*WRAPPER 6-----------------------------*/
.wrapper-6{
    height: auto;
}

.wrapper-6 a{
    color: white;
    text-decoration: none;
}

.col-6{
    width: 100%;
    float: left;
    height: 100px;
    background-color: rgb(41, 42, 47);
    padding-top: 50px;
    margin-top: 100px;
}

.col-6-1{
    width: 100%;
    float: right;
    height: auto;
    text-align: center;
}



 